openapi: 3.0.0
info:
  description: "基本課題1「認証つきのRESTfulなAPIアプリケーション」"
  version: "1.0.0"
  title: "asada-restful-api"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
servers:
  - url: http://localhost:8080
    description: "ローカルサーバで使用"

paths:
  /api/products:
    get:
      tags:
        - products
      summary: "商品取得API（複数件）"
      description: "商品タイトルによる部分一致検索をする"
      parameters:
        - in: query
          name: title
          schema:
            type: string
          description: 商品タイトル
      responses:
        '200':
          description: "商品検索"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product'
        '500':
          description: "INTERNAL_SERVER_ERROR"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handleAllException'

    post:
      tags:
        - products
      summary: "商品登録API（1件"
      description: "商品情報をPOSTメソッドで送信"
      requestBody:
        description: 登録する商品内容
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productForm'
      responses:
        '201':
          description: "CREATED:画像のみJSONではなくmultipart/form-data形式でアップロードを受けとる"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product'

        '400':
          description: "バリデーションエラー"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handleMethodArgumentNotValid'
        '500':
          description: "INTERNAL_SERVER_ERROR"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handleAllException'
  /api/products/{id}:
    get:
      tags:
        - products
      summary: "商品取得API（1件）"
      description: "IDの商品データを１件取得し、JSON形式で返す。"
      parameters:
        - name: id
          in: path
          description: 商品データのID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "該当するidの商品をJSON形式で返す"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product'

        '404':
          description: "存在しない商品IDを入力した場合"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handleproductNotFoundException'
        '405':
          description: "パス変数に異なる型を入力した場合等"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handleTypeMismatch'
        '500':
          description: "INTERNAL_SERVER_ERROR"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handleAllException'
    put:
      tags:
        - products
      summary: "商品変更API（1件）"
      description: "IDの商品を更新"
      parameters:
        - name: id
          in: path
          description: 商品データのID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/product'
      responses:
        '200':
          description: "該当するidの商品情報を更新する"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product'

        '400':
          description: "バリデーションエラー"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handleMethodArgumentNotValid'
        '404':
          description: "存在しない商品IDを入力した場合"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handleproductNotFoundException'
        '405':
          description: "パス変数に異なる型を入力した場合等"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handleTypeMismatch'
        '500':
          description: "INTERNAL_SERVER_ERROR"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handleAllException'
    delete:
      tags:
        - products
      summary: "商品削除API（1件）"
      description: "該当するidの商品情報を削除する"
      parameters:
        - name: id
          in: path
          description: 商品データのID
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: "NO CONTENT"
        '404':
          description: "存在しない商品IDを入力した場合"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handleproductNotFoundException'
        '405':
          description: "パス変数に異なる型を入力した場合等"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handleTypeMismatch'
        '500':
          description: "INTERNAL_SERVER_ERROR"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handleAllException'

  /api/products/{id}/images:
    patch:
      tags:
        - products
      summary: "商品画像更新API（1件）"
      description: "id値を持つ商品に商品画像を登録する(multipart/form-data形式)"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 商品ID
      requestBody:
        description: 商品を更新する
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Image'
      responses:
        '200':
          description: "該当するidの商品に商品画像を登録する"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/product"

        '404':
          description: "存在しない商品IDを入力した場合/商品は存在するけど商品画像が登録されていない場合"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handleproductNotFoundException'
        '405':
          description: "パス変数に異なる型を入力した場合等"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handleTypeMismatch'
        '415':
          description: "使用不可の拡張子の画像が保存された場合"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handleUnsupportedMediaTypeException'

        '500':
          description: "商品画像の登録に失敗/INTERNAL_SERVER_ERROR"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/handleAllException'

  /api/products/{id}/images/{imagePath}:
    get:
      tags:
        - products
      summary: "商品画像取得API（1件"
      description: "該当するidの商品に商品画像が登録されている場合に表示する"
      parameters:
        - name: id
          in: path
          description: 取得したい画像の商品ID
          required: true
          schema:
            type: integer
            format: int64
        - name: imagePath
          in: path
          description: 取得したい商品画像の画像パス
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "該当するidの商品画像を表示する"
        '404':
          description: "存在しない商品IDを入力した場合/商品は存在するけど商品画像が登録されていない場合"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handleproductNotFoundException'
        '405':
          description: "パス変数に異なる型を入力した場合等"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handleTypeMismatch'
        '500':
          description: "INTERNAL_SERVER_ERROR"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handleAllException'


components:
  schemas:
    product:
      type: object
      required:
        - id
        - title
        - description
        - price
        - createTime
        - updateTime
      properties:
        id:
          type: integer
          format: int64
        imagePath:
          type: string
        title:
          type: string
        description:
          type: string
        price:
          type: integer
        createTime:
          type: string
          format: data-time
        updateTime:
          type: string
          format: date-time
    productForm:
      type: object
      properties:
        title:
          type: string
          maxLength: 100
        description:
          type: string
          maxLength: 500
        price:
          type: integer
          format: int64
          minimum: 1
          maximum: 1000000
      required:
        - title
        - description
        - price
    Image:
      type: object
      properties:
        file:
          type: string
          format: binary

    handleAllException:
      type: object
      properties:
        message:
          type: string
          example: 'サーバーエラーが発生しました'

    handleMethodArgumentNotValid:
      type: object
      properties:
        message:
          type: string
          example: '正しい値を入力してください。'

    handleproductNotFoundException:
      type: object
      properties:
        message:
          type: string
          example: '対象のリソースが見つかりませんでした'

    handleTypeMismatch:
      type: object
      properties:
        message:
          type: string
          example: '無効なURLのため表示できません'

    handleUnsupportedMediaTypeException:
      type: object
      properties:
        message:
          type: string
          example: 'この拡張子は使用できません'