[Unit]
Description = 自動起動します
After=local-fs.target

[Service]
ExecStart=/opt/api.sh start
Restart=no
Type=simple

[Install]
WantedBy=multi-user.target

