server:
  port: 8080

spring:
  profiles:
    active: local

  datasource:
    url: jdbc:mysql://localhost:3306/restful_api
    username: root
    password:
    driverClassName: com.mysql.cj.jdbc.Driver
    initialization-mode: always
    sql-script-encoding: utf-8

  jpa:
    database: MYSQL
    hibernate:
      ddl-auto: none

  servlet:
    multipart:
      enabled: true
      max-file-size: 100KB

  messages:
    basename: messages
    cache-duration: -1
    encoding: UTF-8

  mvc:
    throw-exception-if-no-handler-found: true

  resources:
    add-mappings: false

  jackson:
    default-property-inclusion: non_null

  config:
    access-token:
      usableMinutes: 30
      authorizationHeaderFormat: "Bearer"


clientId: ${GITHUB_CLIENTID}
clientSecret: ${GITHUB_CLIENTSECRET}
callbackUrl: http://localhost:8080/github/callback



