server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/api
    username: root
    password:
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    database: MYSQL
    hibernate:
    ddl-auto: update
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 50MB
      max-request-size: 50MB
uploadDir: src/main/resources/static/