[Unit]
Description = 自動起動します
After=local-fs.target
ConditionPathExists=/deploy

[Service]
ExecStart=/home/ec2-user/build/libs/asada-restapi-0.0.1-SNAPSHOT.jar
Restart=no
Type=simple

[Install]
WantedBy=multi-user.target