<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ヘッダー</title>
</head>
<body>
<div layout:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{'/top'}" th:text="ec2テストトップ"></a>
        <div class="collapse navbar-collapse justify-content-end">
            <a class="btn btn-danger" th:href="@{'/logout'}" th:if="${session.isLogin}" th:text="ログアウト"></a>
        </div>
    </nav>
    <div style="height: 150px"></div>
</div>
</body>
</html>